/**

See _mixins.scss for Mixin's to use to emulate buttons on the site.

  @include chalk-button();
  @include chalk-button-hover();

**/

#edit-actions.form-wrapper {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  width: 100%;
}

#page a:link.button,
#page a:visited.button,
button,
html input[type="button"],
input[type="submit"] {
  background-color: $chalk-yellow;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 9px 0px 9px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#page a:hover.button,
button:hover,
html input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: $chalk-board;
  color: white;
}

input[type="reset"] {
  background-color: $chalk-green;
  color: white;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0.5em;
}

// Block 28 - Search buttons 

#page #block-block-28 {
  p {
    margin: 0px;
  }
  @media all and (max-width: 600px) {
    a:link.button {
      width: 39%;
      font-size: 14px;
    }
  }
  @media all and (max-width: 480px) {
    a:link.button {
      width: 100%;
      font-size: 13px;
    }
  }
}