  // Flags ** This should probably be applied site-wide!
  .flag-outer-inappropriate-content {
    padding: 5px;
    background-color: #FBDEE3;
    border-radius: 7px;
    display: inline-block;
    .margin-left: 0px;
  }