// *****
// css unique to the front page
// *****

.front {
  .panels-flexible-row-chalkboard_layout-1-inside,
  .panels-flexible-region-chalkboard_layout-center-inside,
  .panel-col-last,
  .group-right{
    max-width: $page-width;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .inside .node-by-viewer {
    padding: 20px;
    margin-bottom: 20px;
  }
  .ds-1col.node.node-page {
    max-width: 1200px;
    margin: 0 auto 10px;
  }
}

// *****
// Front page image with three petals
// *****

.map_image {
  display: block;
  width: 576px;
  height: 345px;
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

}

.tooltip:hover:after{
    border-radius: 5px;
    bottom: 16px;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.map_image .map_link { display: block; position: absolute; text-indent: -999em; overflow: hidden; }
.map_image #map_link_1 { width: 206px; height: 90px; top: 54px; left: 247px; }
.map_image #map_link_2 { width: 43px; height: 32px; top: 148px; left: 262px; }
.map_image #map_link_3 { width: 200px; height: 78px; top: 185px; left: 272px; }
.map_image #map_link_4 { width: 65px; height: 125px; top: 111px; left: 187px; }

.panels-flexible-row-chalkboard_layout-2-inside {
  color: white;
  background: url(/sites/all/themes/chalk3/images/chalkboard.jpg);
  height: auto;
  background-width: auto;
  margin-top: -90px;
  padding-top: 140px;
  z-index: -20;
}

@media all and (max-width: 970px) {
  .panel-pane.pane-block.pane-block-16 {
    display: none;
  }
}

// *****
// Control layout & display of area below 'chalkboard'
// *****

/*#topbar-block {
    $zen-column-count: 3;
      #block-block-12 {
            @include zen-grid-item(1, 1);
              }
                #block-block-1 {
                      @include zen-grid-item(1, 2);
                        }
                          #block-system-user-menu {
                                @include zen-grid-item(1, 3);
                                  }
                                } */

/* .panels-flexible-row panels-flexible-row-chalkboard_layout-1 clearfix {
  $zen-column-count: 3;

  .panels-flexible-column panels-flexible-column-chalkboard_layout-12 panels-flexible-column-first {
    @include zen-grid-item(1, 1);
  }
  .panels-flexible-column panels-flexible-column-chalkboard_layout-11 {
    @include zen-grid-item(1, 2);
  }
  .panels-flexible-column panels-flexible-column-chalkboard_layout-10 panels-flexible-column-last {
    @include zen-grid-item(1, 3);
  }
} */

@media all and (min-width: 1025px) {

    .panels-flexible-row-chalkboard_layout-1, {
    $zen-column-count: 3;

    //.panels-flexible-column panels-flexible-column-chalkboard_layout-12 panels-flexible-column-first {
    .panels-flexible-column-chalkboard_layout-12 {
      @include zen-grid-item(1, 1);
      // border: 1px solid blue;
    }
      //.panels-flexible-column panels-flexible-column-chalkboard_layout-11 {
    .panels-flexible-column-chalkboard_layout-10 {
      @include zen-grid-item(1, 2);
      // border: 1px solid red;
    }
    //.panels-flexible-column panels-flexible-column-chalkboard_layout-10 panels-flexible-column-last {
    .panels-flexible-column-chalkboard_layout-11  {
      @include zen-grid-item(1, 3);
      // border: 1px solid green;
    }

  }
}

@media all and (min-width: 600px) and (max-width: 1025px) {

    .panels-flexible-row-chalkboard_layout-1 {
    $zen-column-count: 2;

    //.panels-flexible-column panels-flexible-column-chalkboard_layout-12 panels-flexible-column-first {
    .panels-flexible-column-chalkboard_layout-12 {
      @include zen-grid-item(1, 1);
      // border: 1px solid blue;
    }

    //.panels-flexible-column panels-flexible-column-chalkboard_layout-10 panels-flexible-column-last {
    .panels-flexible-column-chalkboard_layout-11  {
      @include zen-grid-item(1, 2);
      // border: 1px solid green;
    }
      //.panels-flexible-column panels-flexible-column-chalkboard_layout-11 {
    .panels-flexible-column-chalkboard_layout-10 {
      @include zen-grid-item(2, 1);
      // border: 1px solid red;
      clear: both;
    }

  }
}

@media all and (max-width: 600px) {

  .panels-flexible-row-chalkboard_layout-1 {
    $zen-column-count: 1;

    //.panels-flexible-column panels-flexible-column-chalkboard_layout-12 panels-flexible-column-first {
    .panels-flexible-column-chalkboard_layout-12 {
      @include zen-grid-item(1, 1);
      // border: 1px solid blue;
    }

    //.panels-flexible-column panels-flexible-column-chalkboard_layout-10 panels-flexible-column-last {
    .panels-flexible-column-chalkboard_layout-11  {
      @include zen-grid-item(1, 1);
      // border: 1px solid green;
      clear: both;
    }
      //.panels-flexible-column panels-flexible-column-chalkboard_layout-11 {
    .panels-flexible-column-chalkboard_layout-10 {
      @include zen-grid-item(1, 1);
      // border: 1px solid red;
      clear: both;
    }

  }
}

/*@media all and (max-width: 1199px) {
  .panels-flexible-region.panels-flexible-region-chalkboard_layout-center_.panels-flexible-region-first.panels-flexible-region-last {
    display: none;
  }
} */

// *****
// Control layout & display of "categories" area
// *****

.categories {
  float: left;
  width: 31%;
  margin: 1%;
  height: 340px;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .categories {
      float: left;
      margin: 1%;
      text-align: center;
      height: auto;
      width: 46%;
      img {
        width: 100%;
      }
  }
}

@media all and (max-width: 500px) {
  .categories {
      float: left;
      margin: 1%;
      text-align: center;
      height: auto;
      width: 96%;
      img {
        width: 100%;
      }
  }
}

@media all and (max-width: 1200px) {
  .panels-flexible-row-chalkboard_layout-2-inside {
    padding: 140px 5% 0px;
  }
}

.panels-flexible-chalkboard_layout .panels-flexible-row {
  margin: 0px 0px;
}



#content {
  padding-right: 0px;
  padding-left: 0px;
}

// Next 5 Listing

.view-next-5.view-id-next_5.view-display-id-panel_pane_1 {

  .view-footer {
    float: right;
    padding-right: 20px;
    p {
      margin: 0px;
    }
    a {
      font-size: 1.3em;
    }
  }
  .view-header p {
    font-size: 1.3em;
  }

  @media all and (min-width: 800px) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .views-row {
    padding: 2%;
    background-color: white;
    border: 0 solid #9c9c9c;
    border-collapse: separate;
    box-shadow: 3px 3px 12px #9c9c9c;
    display: block;
    margin-bottom: 25px;
    //min-height: 150px;
    overflow: hidden;

    .views-field-field-image {
      text-align: center;
    }

    .title {
      font-size: 1.3em;
      font-weight: 700;
    }

    .views-field-field-image .views-row {
      box-shadow: none;
    }

    @media all and (min-width: 480px) {
      $zen-grid-width: 100%;
      $zen-column-count: 6;
      $zen-gutter-method: margin;
      $zen-gutter-width: 15px;
      $zen-auto-include-item-base: true;

      //First Column
      .views-field-field-image {
        @include zen-grid-item(1, 1);
      }

      //Second Column

      .views-field-nothing-1 {
        @include zen-grid-item(3, 2);
      }

      //Third Column
      .views-field-field-event-date {
        @include zen-grid-item(1, 5);
      }

      //Fourth Column
      .views-field-field-organization-logo {
        @include zen-grid-item(1, 6);
      }
    }

    @media (max-width: 480px) {
      $zen-grid-width: 100%;
      $zen-column-count: 1;

      //First Column
      .views-field-field-image {
        text-align: center;
        img {
          max-width: 150px;
        }
      }

    //Second Column

    .views-field-nothing-1 {
      text-align: center;
    }

    //Third Column
    .views-field-field-event-date {
      text-align: center;
    }

    //Fourth Column
    .views-field-field-organization-logo {
      text-align: center;
      margin-top: 20px;
      img {
        max-width: 150px;
      }
    }
  }

  }
}

/**
 * PayPal Link image replacement
 */

#block-simple-paypal-donate-simple-paypal-donate input[type="submit"] {
      border: 0;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background: url(/sites/all/themes/chalk3/images/paypal.png);
      width: 142px;
      height: 27px;
    }


/**
 * Front page Social Media links with the main panel views
 */

.panels-flexible-column.panels-flexible-column-chalkboard_layout-12.panels-flexible-column-first .pane-block-25 {
    text-align: center;
    img {
      margin: 0 10px;
    }
    p {
      margin-bottom: 5px;
    }

}

/**
 * Maps on front page
 */

.quicktabs_main.quicktabs-style-basic {
  border: none;
  border-style: none;

}



ul.quicktabs-tabs.quicktabs-style-bullets li {
  width: 25%;
}

ul.quicktabs-tabs li {
  white-space: normal;
}

.front {
  .ui-widget-header {
    background: none;
  }
  .ui-tabs .ui-tabs-nav li {
    width: 31%;
    height: 40px;
    white-space: normal;
    a {
      font-size: 10px;
    }
  }
  .pane-quicktabs-front-page-maps {
    .button {
      width: 33%;
    }
  }
}

.ui-tabs .ui-tabs-nav li {
  border-bottom: 1px solid grey;
}

.ui-widget-header,
.ui-widget-content {
  border: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}



