.responsive-menus li:hover {
	background-color: $chalk-board;
}

.responsive-menus.responsified .responsive-menus-simple li a {
	text-align: center;
}

.responsive-menus .menu__item {
	background-color: $chalk-yellow;
}

.responsive-menus .user-item {
  background-color: $chalk-red;
}

.responsive-menus.responsified span.toggler {
	font-size: 1.7em;
	color: $chalk-yellow;
}



