body {
  font-family: $montserrat;
  color: $chalk-board;
  font-weight: 100;
}

p {
  font-weight: 100;
  font-size: $base-font-size;
  line-height: 19px;
}

h2 {
	line-height: 1.3em;
}

.not-front {
  #page {
    max-width: 1200px;
    margin: 150px auto 0px;
  }
}

@media all and (min-width: 10000px) {
	html, p {
	  font-size: 14px;
	  line-height: 20px;
	}
	h2 {
		font-size: 20px;
	}
	a, h3 {
		font-size: 18px;
	}
	
}

@media all and (min-width: 600px) and (max-width: 1000px) {
	html, p {
	  font-size: 13px;
	  line-height: 18px;
	}
	h2 {
		font-size: 18px;
	}
	a, h3 {
		font-size: 16px;
	}
	
}

@media all and (max-width: 599px) {
	html, p {
		font-size: 12px;
		line-height: 17px;
	}
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 14px;
	}
	#privatemsg-list-form,
	.tabs-primary__tab {
		font-size: 10px;
		line-height: 13px;
	}
}

.panels-flexible-row:not(.panels-flexible-row-chalkboard_layout-2) {
	padding: 10px 5% 10px;
}

.not-front #main {
	padding-left: 3%;
	padding-right: 2%;
}

/**
 * Retheming the 'access denied message' to make it softer
 */

.page-user-login .error {
 	background-color: #fef5f1;
 	background-image: none;
  color: $chalk-red;
  border-radius: 5px;
}

.fine-print {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
