


#page {
  margin-top: 150px;

  a:link, a:visited {
    color: $chalk-red;
    text-decoration: none;
    font-weight: 100;
  }
  a:hover {
    color: $chalk-link;
    font-weight: 100;
  }
  td {
    font-weight: 100;
  }
  div.filter-help {
    display: none;
  }
}

.front #page {
  margin-top: 0px;
}

.form-item {
  margin: .41em 0;
}
.page-user- .tabs-primary {
  display: none;
}
.page-user-edit .tabs-primary {
  display: block;
}

#page .view-id-locations.view-display-id-panel_pane_1 .view-footer {
    .sponsors-show, .sponsors-become {
        width: 37%;
        text-align: center;
        font-weight: 700;
    }
    .sponsors-show {
        float: left;
        padding: 12px;
    }
    .sponsors-become {
        float: right;
        padding: 12px;
    }
    a {
        // @include chalk-button();
    }

    a:hover {
      // @include chalk-button-hover();
    }
}
